@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

  input,
  select {
    display: block;
    font-size: inherit;
    max-width: 800px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
  }

  button {
    border-radius: 5px;
    display: inline-block;
    font-size: medium;
    font-weight: normal;
    line-height: 1.5;
    margin: 0.5rem 0;
    padding: 0.125rem 1rem;
    background-color: #4143D6;
    border: 2px solid #4143D6;
    color: #fff;
  }

  button:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }

  button:active {
    filter: brightness(0.85);
  }

  button:disabled {
    background: #e9e9e9;
    border-color: #e9e9e9;
    color: #999;
    cursor: not-allowed;
  }

  button[disabled]:hover {
    filter: none;
  }
}
